body {
    font-family: "Montserrat", sans-serif;
    background-color: #f2f2f2;
    margin: 0px;
    padding: 0px;
}

::-webkit-scrollbar {
    display: none;
}

* {
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}
