.container {
    min-height: calc(100vh - 5rem);
    width: 100%;
}

/* Image */
.imageContainer {
    width: 100%;
    height: 40vh;
    background-image: url("../../assets//detailImg.jpg");
    background-size: cover;
    background-position: center center;
    position: relative;
}

.textContainer {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
    color: #fff;
}

.detailContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.leftContainer,
.rightContainer {
    width: 50%;
    padding: 1rem 3rem;
    box-sizing: border-box;
    text-align: center;
    align-self: center;
}

.title {
    color: #006571;
    font-size: 4rem;
    margin-bottom: 0.5rem;
}

.description {
    color: #006571;
    font-size: 1rem;
    margin-bottom: 1rem;
}

.row {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}

.label {
    width: 10%;
    box-sizing: border-box;
    color: #006571;
    font-weight: 600;
    font-size: 1rem;
}

.id {
    box-sizing: border-box;
    color: #006571;
    font-weight: 600;
    font-size: 1rem;
}

.progressBar {
    width: 90%;
    box-sizing: border-box;
    margin: 0.2rem 0;
    height: 1.5rem;
    background-color: #fff;
    border: 1px solid #006571;
    border-radius: 10px;
    position: relative;
}

.progress {
    height: 100%;
    background-color: #4caf50;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
}

.progressValue {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    color: #006571;
    font-weight: bold;
}

/* ====== RIGHT ====== */
.rightContainer img {
    width: 60%;
    height: 60%;
}

.types {
    margin: 1rem 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    width: 100%;
}

.type {
    color: #fff;
    border-radius: 5rem;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 0.5rem 1rem;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.363);
}

.typesLabel {
    font-size: 1rem;
    color: #006571;
}

.bodyStats {
    display: flex;
    margin: 1rem 0;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    width: 100%;
}

.bodyStat {
    color: #006571;
    font-size: 1.2rem;
    font-weight: 700;
}

/* Loader */

.loadingContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 29rem);
    width: 100%;
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #006571;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Types backgrounds */
.normal {
    background-color: #a8a878;
}

.fighting {
    background-color: #c03028;
}

.flying {
    background-color: #a890f0;
}

.poison {
    background-color: #a040a0;
}

.ground {
    background-color: #e0c068;
}

.rock {
    background-color: #b8a038;
}

.bug {
    background-color: #a8b820;
}

.ghost {
    background-color: #705898;
}

.steel {
    background-color: #b8b8d0;
}

.fire {
    background-color: #f08030;
}

.water {
    background-color: #6890f0;
}

.grass {
    background-color: #78c850;
}

.electric {
    background-color: #f8d030;
}

.psychic {
    background-color: #f85888;
}

.ice {
    background-color: #98d8d8;
}

.dragon {
    background-color: #7038f8;
}

.dark {
    background-color: #705848;
}

.fairy {
    background-color: #ee99ac;
}

.unknown {
    background-color: #68a090;
}

.shadow {
    background-color: #404040;
}
