.card {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 20rem;
    height: 31rem;
    background-color: #8a2be3;
    background: linear-gradient(to bottom right, #8a2be3, #4b0082);
    color: #fff;
    border-radius: 3rem;
    box-shadow: 0px 10px 30px rgba(23, 7, 37, 0.3);
}

.card a {
    text-decoration: none;
}

.card a:visited {
    color: #fff;
}

/* CARD IMAGE */
.cardImage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20rem;
    width: 20rem;
    border-bottom: 1px solid #fff;
}

.cardImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* CARD INFO */
.cardName {
    color: #fff;
    font-size: 2rem;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.cardTypes {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    align-items: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.type {
    color: #fff;
    padding: 0.25rem 0.5rem;
    border-radius: 0.8rem;
    font-size: 1rem;
    font-weight: 400;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.363);
}

.cardStats {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.stat {
    display: flex;
    align-items: center;
    color: #fff;
    gap: 0.2rem;
}

.favButton {
    display: flex;
    align-items: center;
    background: none;
    cursor: pointer;
    border: none;
}

@media only screen and (max-width: 768px) {
    .card {
        width: 12rem;
        height: 20rem;
    }

    .cardImage {
        width: 12rem;
        height: 12rem;
    }

    .cardName {
        font-size: 1.5rem;
        margin-top: 0.3rem;
        margin-bottom: 0.3rem;
    }

    .cardTypes {
        gap: 0.3rem;
        margin-top: 0.3rem;
        margin-bottom: 0.3rem;
    }

    .type {
        padding: 0.3rem 0.5rem;
        font-size: 0.8rem;
    }

    .cardStats {
        gap: 0.5rem;
        margin-top: 0.3rem;
        margin-bottom: 0.3rem;
    }

    .stat {
        display: flex;
        align-items: center;
        color: #fff;
        gap: 0.2rem;
    }

    .notPhones {
        display: none;
    }
}

/* Types backgrounds */
.normal {
    background-color: #a8a878;
}

.fighting {
    background-color: #c03028;
}

.flying {
    background-color: #a890f0;
}

.poison {
    background-color: #a040a0;
}

.ground {
    background-color: #e0c068;
}

.rock {
    background-color: #b8a038;
}

.bug {
    background-color: #a8b820;
}

.ghost {
    background-color: #705898;
}

.steel {
    background-color: #b8b8d0;
}

.fire {
    background-color: #f08030;
}

.water {
    background-color: #6890f0;
}

.grass {
    background-color: #78c850;
}

.electric {
    background-color: #f8d030;
}

.psychic {
    background-color: #f85888;
}

.ice {
    background-color: #98d8d8;
}

.dragon {
    background-color: #7038f8;
}

.dark {
    background-color: #705848;
}

.fairy {
    background-color: #ee99ac;
}

.unknown {
    background-color: #68a090;
}

.shadow {
    background-color: #404040;
}
