.marginImg {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 1;
    width: 100vw;
}

.margin0 {
    display: flex;
    justify-content: center;
    width: 100vw;
    margin: 1rem 0;
}

.margin5 {
    display: flex;
    justify-content: center;
    width: 100vw;
    margin: 5rem 0 -4rem 0;
}

.alertContainer {
    position: relative;
    padding: 1rem 3rem;
    border: 1px solid #dee2e6;
    border-radius: 0.8rem;
    background-color: #f8d7da;
    color: #721c24;
}

.alertContainer p {
    font-size: 1.2rem;
}

.alertContainer button {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    color: inherit;
    background-color: transparent;
    border: 0;
    font-weight: 700;
    line-height: 1;
    padding: 0.5rem;
    cursor: pointer;
}

.alertContainer button span {
    font-size: 1.5rem;
}

.alertContainer button:focus {
    outline: 0;
}

.alertContainer p {
    margin: 0;
}
