.landingContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: calc(100vh - 3rem);
    width: 100vw;
}

.textContainer,
.imageContainer {
    width: 50%;
    padding: 0 3rem;
    box-sizing: border-box;
    text-align: center;
}

.title {
    color: #f9a826;
    font-size: 4rem;
    margin-bottom: 1.5rem;
}

.description {
    color: #006571;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.button {
    background: linear-gradient(to bottom right, #8a2be3, #4b0082);
    color: #ffffff;
    border: none;
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 400;
    border-radius: 5rem;
    cursor: pointer;
}

.buttonPrimary:hover {
    background: linear-gradient(to bottom right, #0069d9, #0042a8);
    color: #fff;
}

.imageContainer img {
    max-width: 80%;
    max-height: 80%;
}

@media only screen and (max-width: 768px) {
    .landingContainer {
        flex-direction: column;
    }

    .textContainer {
        width: 100%;
        padding: 3rem;
        text-align: left;
    }

    .description {
        font-size: 2rem;
    }

    .imageContainer {
        width: 100%;
    }

    .imageContainer img {
        max-width: 100%;
        max-height: 100%;
    }
}
