.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(0, 1fr);
    width: 100vw;
    height: 5rem;
    color: #006571;
    position: fixed;
    top: 0;
    z-index: 1;
}

/* LEFT ZONE */
.logo {
    justify-self: start;
    display: flex;
    align-items: center;
    margin-left: 1rem;
}

.logoImage {
    height: 3rem;
    width: auto;
}

/* RESPONSIVE DROPDOWN */
.responsiveMenu {
    display: none;
}

/* CENTER ZONE */
.center {
    justify-self: center;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.inputSearch {
    font-size: 1rem;
    border: 1px solid #ced4da;
    background-color: #fff;
    font-weight: 400;
    color: #495057;
    box-shadow: none;
    padding: 0.5rem 1rem;
    border-radius: 5rem;
    width: 20rem;
    outline: none;
}

/* RIGHT ZONE */
.right {
    justify-self: flex-end;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem 1rem;
    background-color: #fff;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
    border-radius: 5rem;
}

.right a {
    text-decoration: none;
    font-weight: 600;
    font-size: 1rem;
}

.right a:visited {
    color: #006571;
}

.right a img {
    height: 2rem;
    width: auto;
}

.yLine {
    width: 2px;
    min-height: 100%;
    background-color: #006571;
}

.xLine {
    height: 2px;
    min-width: 100%;
    background-color: #ced4da;
}

.buttonPrimary {
    background: linear-gradient(to bottom right, #8a2be3, #4b0082);
    color: #ffffff;
    border: none;
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    font-weight: 400;
    border-radius: 5rem;
    cursor: pointer;
}

.buttonPrimary:hover {
    background: linear-gradient(to bottom right, #0069d9, #0042a8);
    color: #fff;
}

.buttonDanger {
    background-color: #dc3545;
    border: none;
    color: #fff;
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    font-weight: 400;
    border-radius: 5rem;
    cursor: pointer;
}

.buttonDanger:hover {
    background-color: #c82333;
    border-color: #bd2130;
    color: #fff;
}

.responsiveMenu {
    display: none;
}

@media only screen and (max-width: 1200px) {
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 2fr;
    }

    .inputSearch {
        width: 15rem;
    }
}

@media only screen and (max-width: 576px) {
    /* Cambio columnas y altura */
    .container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: minmax(0, 1fr);
        width: 100vw;
    }

    /* Display none elements */

    .right {
        display: none;
    }

    /* Search responsive */
    .inputSearch {
        width: 10rem;
    }

    /* responsiveMenu */
    .responsiveMenu {
        display: flex;
        align-items: center;
        justify-content: end;
    }

    .dropdown {
        display: inline-block;
        position: relative;
    }

    .dropdownBtn {
        background: none;
        border: none;
        cursor: pointer;
    }

    .dropdownContent {
        display: none;
        position: absolute;
        z-index: 2;
        background-color: #fff;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        padding: 1rem 0.5rem;
        border-radius: 0.8rem;
        width: 10rem;
        left: -7rem;
        text-align: center;
    }

    .dropdownOptionFirst {
        display: block;
        margin: 0 0.5rem 0.5rem 0.5rem;
    }

    .dropdownOption {
        display: block;
        margin: 0.5rem 0.5rem 0.5rem 0.5rem;
    }

    .dropdownOptionLast {
        display: block;
        margin: 0.5rem 0.5rem 0rem 0.5rem;
    }

    .link {
        color: #006571;
        text-decoration: none;
        font-weight: 600;
        font-size: 1.2rem;
    }

    .buttonPrimary,
    .buttonDanger {
        font-size: 1.2rem;
    }

    .dropdownContent a:hover {
        background-color: #ddd;
    }
}

.show {
    display: block;
}
