.createContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: calc(100vh - 8rem);
    margin-top: 5rem;
    width: 100vw;
}

.formContainer,
.previewContainer {
    width: 50%;
    padding: 0 3rem;
    box-sizing: border-box;
    text-align: center;
}

/* FIRST ROW */
.rowDouble {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.textInput {
    display: flex;
    flex-direction: column;
    width: 45%;
}

/* OTHERS ROWS */
.rowTriple {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.stat {
    display: flex;
    flex-direction: column;
    width: 30%;
}

/* ALL */
.formContainer label {
    text-align: left;
    display: block;
    color: #006571;
    font-weight: 600;
    font-size: 1rem;
    padding: 0 0.5rem;
}

.input {
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    padding: 0.5rem 0.5rem;
    background-color: #fff;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    box-shadow: none;
    font-size: 1rem;
    border-radius: 0.8rem;
    border: 1px solid #ced4da;
}

input:focus {
    outline: 0;
    border-color: #80bdff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.error {
    border: 1px solid #f44336;
}

.error:focus {
    outline: 0;
    border-color: #f44336;
    box-shadow: 0 0 0 0.2rem rgba(244, 67, 54, 0.25);
}

.spanError {
    color: #dc3545;
    font-size: 1rem;
    margin-bottom: 1rem;
}

.typesSelectors {
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(7rem, 1fr));
    grid-gap: 1rem;
    grid-auto-flow: dense;
    justify-items: center;
    align-items: center;
}

.typeSelector {
    display: flex;
    width: 7rem;
}

.typesSelectors label {
    padding: 0 0.1rem;
}

/* LOADER */
.loadingContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 5rem;
    width: 100%;
}

.loader {
    width: 24px;
    height: 24px;
    border: 3px solid #006571;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.buttonSubmit {
    background: linear-gradient(to bottom right, #8a2be2, #4b0082);
    color: #ffffff;
    padding: 0.6rem 0.8rem;
    margin-top: 1rem;
    border: none;
    display: block;
    width: 100%;
    border-radius: 8px;
    font-size: 1.5rem;
    cursor: pointer;
}

.buttonSubmit:disabled {
    cursor: not-allowed;
}

/* PREVIEW */
.title {
    color: #f9a826;
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.description {
    color: #006571;
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

.previewContainer img {
    width: 40%;
    height: 40%;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.namePreview {
    color: #006571;
    font-size: 2rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

.types {
    margin: 1rem 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    width: 100%;
}

.type {
    color: #fff;
    border-radius: 5rem;
    font-size: 1.5rem;
    font-weight: 400;
    padding: 0.5rem 1rem;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.363);
}

.previewText {
    font-size: 1rem;
    color: #006571;
}

/* Falta pantallas ipads y revisar telefonos */
@media only screen and (max-width: 480px) {
    .createContainer {
        height: auto;
        flex-direction: column;
    }

    .formContainer,
    .previewContainer {
        width: 100%;
        padding: 0 1rem;
    }

    /* FIRST ROW */
    .rowDouble {
        flex-direction: column;
        gap: 0;
    }

    .textInput {
        margin-top: 0rem;
        width: 100%;
    }
}

/* Types backgrounds */
.normal {
    background-color: #a8a878;
}

.fighting {
    background-color: #c03028;
}

.flying {
    background-color: #a890f0;
}

.poison {
    background-color: #a040a0;
}

.ground {
    background-color: #e0c068;
}

.rock {
    background-color: #b8a038;
}

.bug {
    background-color: #a8b820;
}

.ghost {
    background-color: #705898;
}

.steel {
    background-color: #b8b8d0;
}

.fire {
    background-color: #f08030;
}

.water {
    background-color: #6890f0;
}

.grass {
    background-color: #78c850;
}

.electric {
    background-color: #f8d030;
}

.psychic {
    background-color: #f85888;
}

.ice {
    background-color: #98d8d8;
}

.dragon {
    background-color: #7038f8;
}

.dark {
    background-color: #705848;
}

.fairy {
    background-color: #ee99ac;
}

.unknown {
    background-color: #68a090;
}

.shadow {
    background-color: #404040;
}
